.flow-panels-wrapper .panel-link .panel-img {
  height: 100%;
  width: 100%;
  max-height: 300px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.flow-panels-wrapper .panel {
  height: 500px;
  float: left;
  border: none;
  margin: 0;
  content: '';
  display: block; }
  .flow-panels-wrapper .panel:after {
    content: '';
    display: block;
    clear: both; }
  .flow-panels-wrapper .panel:hover .panel-arrow:before {
    left: 30px;
    transition: left 0.3s; }

.flow-panels-wrapper .panel.Full {
  width: 100%; }

.flow-panels-wrapper .panel.Half {
  width: 100%; }
  @media (min-width: 768px) {
    .flow-panels-wrapper .panel.Half {
      width: 100%; } }
  @media (min-width: 992px) {
    .flow-panels-wrapper .panel.Half {
      width: 50%; } }

.flow-panels-wrapper .panel.Third {
  width: 100%; }
  @media (min-width: 768px) {
    .flow-panels-wrapper .panel.Third {
      width: 33.33%; } }
  @media (min-width: 992px) {
    .flow-panels-wrapper .panel.Third {
      width: 33.33%; } }

.flow-panels-wrapper .panel.Quarter {
  width: 100%; }
  @media (min-width: 525px) {
    .flow-panels-wrapper .panel.Quarter {
      width: 50%; } }
  @media (min-width: 768px) {
    .flow-panels-wrapper .panel.Quarter {
      width: 50%; } }
  @media (min-width: 992px) {
    .flow-panels-wrapper .panel.Quarter {
      width: 25%; } }

.flow-panels-wrapper .flow-panel-text-wrap {
  height: 200px; }

.flow-panels-wrapper .panel-text {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 80px);
  max-height: 100%;
  overflow: scroll;
  padding: 15px; }

.flow-panels-wrapper .panel-arrow {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  width: 80px; }

.flow-panels-wrapper .panel-arrow:before {
  content: '';
  display: block;
  top: 50%;
  margin-top: -15px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  height: 30px;
  width: 30px;
  position: absolute;
  transform: rotate(45deg);
  left: 15px;
  transition: left 0.3s; }
